@model List<DataEntities.ReporteProductos>
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Reporte de productos dañados</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-start text-center">
            <h1 class="text-info">Reporte de productos dañados</h1>
            <span>PALLA'S STORE</span>
        </div>
        <table class="table table-hover table-active">
            <thead>
                <tr>
                    <th>Factura</th>
                    <th>Producto</th>
                    <th>Marca</th>
                    <th>Talla</th>
                    <th>Color</th>
                    <th>Detalle Ingreso</th>
                    <th>Detalle Salida</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Salida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>@item.NumeroFactura</td>
                        <td>@item.Producto</td>
                        <td>@item.Marca</td>
                        <td>@item.Talla</td>
                        <td>@item.Color</td>
                        <td>@item.DescripcionIngreso</td>
                        <td>@item.DescripcionSalida</td>
                        <td>
                            @{
                                if (item.FechaIngreso.HasValue)
                                {
                                    <span>@item.FechaIngreso.Value.ToShortDateString()</span>
                                }

                                else
                                {
                                    <span>---</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (item.FechaSalida.HasValue)
                                {
                                    <span>@item.FechaSalida.Value.ToShortDateString();</span>
                                }

                                else
                                {
                                    <span>---</span>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
