@page
@model WebApplication.Pages.Facturacion.Venta.VentasModel
@{
}

<a href="~/Facturacion/Venta/Index">Nueva venta</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nº Factura</th>
            <th>Usuario</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>SubTotal</th>
            <th>Descuento</th>
            <th>Iva</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ventas)
        {
            <tr>
                <td>@item.NumeroFactura</td>
                <td>@item.UserName</td>
                <td>@item.NombreCliente</td>
                <td>@item.Fecha.Value.ToShortDateString()</td>
                <td>@item.SubTotal</td>
                <td>@item.Descuento</td>
                <td>@item.Iva</td>
                <td>@item.Total</td>
                <td><a href="~/Facturacion/Venta/Detail/@item.IdVenta">Detalle</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Total</th>
            <th>@Model.Ventas.Sum(x => x.SubTotal)</th>
            <th></th>
            <th></th>
            <th>@Model.Ventas.Sum(x => x.Total)</th>
        </tr>
    </tfoot>
</table>